html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter; }

body {
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #0B2540; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body #app {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    body #app:last-child {
      margin-right: 0; }
    body #app:nth-child(n) {
      margin-right: 0; }
    body #app div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      body #app div:last-child {
        margin-right: 0; }
      body #app div:nth-child(n) {
        margin-right: 0; }
      body #app div #mainpage header {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 110px;
        background: #0B2540;
        border-bottom: red 2px solid;
        position: fixed;
        top: 0px;
        margin: auto;
        z-index: 100000; }
        body #app div #mainpage header:last-child {
          margin-right: 0; }
        body #app div #mainpage header #smallLogo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          margin-left: 8.5298%;
          background: #0B2540 url("../img/nameLogo.svg") no-repeat 0px 0px;
          height: 78px; }
          body #app div #mainpage header #smallLogo:last-child {
            margin-right: 0; }
        body #app div #mainpage header #headerNav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 17.05961%;
          margin-top: 30px; }
          body #app div #mainpage header #headerNav:last-child {
            margin-right: 0; }
          body #app div #mainpage header #headerNav a {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            margin: 0; }
            body #app div #mainpage header #headerNav a:first-of-type {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 36.87945%;
              margin-left: 34.11922%; }
              body #app div #mainpage header #headerNav a:first-of-type:last-child {
                margin-right: 0; }
            body #app div #mainpage header #headerNav a i {
              margin-right: 5px; }
            body #app div #mainpage header #headerNav a:hover {
              color: red; }
        body #app div #mainpage header #brief {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 10.23577%;
          color: red;
          font-weight: lighter;
          font-size: 22px; }
          body #app div #mainpage header #brief:last-child {
            margin-right: 0; }
          body #app div #mainpage header #brief:nth-child(n) {
            margin-right: 0; }
      body #app div #mainpage #heroImg {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        background: #fff url("../img/landscape_3.svg") no-repeat fixed 0px 110px;
        background-size: 100% 425px;
        height: 500px; }
        body #app div #mainpage #heroImg:last-child {
          margin-right: 0; }
        body #app div #mainpage #heroImg:nth-child(n) {
          margin-right: 0; }
      body #app div #mainpage #aboutMe #headShot {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 27.49666%;
        margin-left: 8.5298%;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 400px;
        border-radius: 50%;
        background: #fff url("../img/headshot.jpg") no-repeat 0px 0px;
        background-size: 100% 100%;
        border: red 2px solid; }
        body #app div #mainpage #aboutMe #headShot:last-child {
          margin-right: 0; }
      body #app div #mainpage #aboutMe #info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 50.52714%;
        margin-left: 2.55894%;
        margin-top: 50px;
        margin-bottom: 200px;
        height: 275px;
        border-radius: 5px;
        background-size: 475px;
        color: #fff;
        font-size: 17.5px; }
        body #app div #mainpage #aboutMe #info:last-child {
          margin-right: 0; }
        body #app div #mainpage #aboutMe #info #resumeTitle {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          font-size: 30px;
          margin-top: 100px;
          height: 40px;
          border-bottom: red 2px solid; }
          body #app div #mainpage #aboutMe #info #resumeTitle:last-child {
            margin-right: 0; }
          body #app div #mainpage #aboutMe #info #resumeTitle span:last-of-type {
            margin-left: 60.56161%;
            font-size: 12px;
            margin-right: 10px; }
          body #app div #mainpage #aboutMe #info #resumeTitle a {
            text-decoration: none;
            color: #fff;
            padding-top: 2px;
            font-size: 30px; }
            body #app div #mainpage #aboutMe #info #resumeTitle a:hover {
              color: red; }
        body #app div #mainpage #aboutMe #info #briefResume {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 100%; }
          body #app div #mainpage #aboutMe #info #briefResume:last-child {
            margin-right: 0; }
          body #app div #mainpage #aboutMe #info #briefResume ul li {
            text-align: justify;
            font-size: 20px;
            margin-top: 20px; }
      body #app div #mainpage #socialNav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 100px;
        background: #fff;
        border-top: red 2px solid;
        border-bottom: red 2px solid; }
        body #app div #mainpage #socialNav:last-child {
          margin-right: 0; }
        body #app div #mainpage #socialNav nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 35.82518%; }
          body #app div #mainpage #socialNav nav:last-child {
            margin-right: 0; }
          body #app div #mainpage #socialNav nav a {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 14.70196%;
            font-size: 60px;
            padding-top: 15px;
            color: #0B2540; }
            body #app div #mainpage #socialNav nav a:last-child {
              margin-right: 0; }
            body #app div #mainpage #socialNav nav a:hover {
              color: red; }
      body #app div #mainpage #portfolio {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 1700px; }
        body #app div #mainpage #portfolio:last-child {
          margin-right: 0; }
        body #app div #mainpage #portfolio #portfolioTitle {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 7.87811%;
          margin-left: 46.91392%;
          font-size: 30px;
          margin-top: 40px;
          padding-left: 2px;
          height: 40px;
          color: #fff;
          border-bottom: red 2px solid; }
          body #app div #mainpage #portfolio #portfolioTitle:last-child {
            margin-right: 0; }
        body #app div #mainpage #portfolio #sectionOne {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 400px; }
          body #app div #mainpage #portfolio #sectionOne:last-child {
            margin-right: 0; }
          body #app div #mainpage #portfolio #sectionOne #innerDiv {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            margin-left: 8.5298%;
            background: #0B2540 url("../img/goals_screen.png") no-repeat 0px 0px;
            background-size: 100% 100%;
            border: #fff 2px solid;
            height: 315px;
            margin-top: 40px; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv:last-child {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv:hover {
              border: red 4px solid; }
          body #app div #mainpage #portfolio #sectionOne #siteDescription {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 6.82384%;
            height: 350px;
            color: #fff;
            padding-top: 120px;
            font-size: 25px;
            text-align: justify; }
            body #app div #mainpage #portfolio #sectionOne #siteDescription:last-child {
              margin-right: 0; }
        body #app div #mainpage #portfolio #sectionTwo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 400px; }
          body #app div #mainpage #portfolio #sectionTwo:last-child {
            margin-right: 0; }
          body #app div #mainpage #portfolio #sectionTwo #innerDiv {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            margin-left: 8.5298%;
            background: #0B2540 url("../img/addressbook_screen.png") no-repeat 0px 0px;
            background-size: 100% 100%;
            border: #fff 2px solid;
            height: 315px;
            margin-top: 40px; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv:last-child {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv:hover {
              border: red 4px solid; }
          body #app div #mainpage #portfolio #sectionTwo #siteDescription {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 6.82384%;
            height: 350px;
            color: #fff;
            padding-top: 150px;
            font-size: 25px;
            text-align: justify; }
            body #app div #mainpage #portfolio #sectionTwo #siteDescription:last-child {
              margin-right: 0; }
        body #app div #mainpage #portfolio #sectionThree {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 400px; }
          body #app div #mainpage #portfolio #sectionThree:last-child {
            margin-right: 0; }
          body #app div #mainpage #portfolio #sectionThree #innerDiv {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            margin-left: 8.5298%;
            background: #0B2540 url("../img/github_repo.png") no-repeat 0px 0px;
            background-size: 100% 100%;
            border: #fff 2px solid;
            height: 315px;
            margin-top: 40px; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv:last-child {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv:hover {
              border: red 4px solid; }
          body #app div #mainpage #portfolio #sectionThree #siteDescription {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 6.82384%;
            height: 350px;
            color: #fff;
            padding-top: 140px;
            font-size: 25px;
            text-align: justify; }
            body #app div #mainpage #portfolio #sectionThree #siteDescription:last-child {
              margin-right: 0; }
        body #app div #mainpage #portfolio #sectionFour {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 400px; }
          body #app div #mainpage #portfolio #sectionFour:last-child {
            margin-right: 0; }
          body #app div #mainpage #portfolio #sectionFour #innerDiv {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            margin-left: 8.5298%;
            background: #0B2540 url("../img/skate_screen.png") no-repeat 0px 0px;
            background-size: 100% 100%;
            border: #fff 2px solid;
            height: 315px;
            margin-top: 40px; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv:last-child {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv:hover {
              border: red 4px solid; }
          body #app div #mainpage #portfolio #sectionFour #siteDescription {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 6.82384%;
            height: 350px;
            color: #fff;
            padding-top: 150px;
            font-size: 25px;
            text-align: justify; }
            body #app div #mainpage #portfolio #sectionFour #siteDescription:last-child {
              margin-right: 0; }
      body #app div #mainpage footer {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 100px;
        background: #fff;
        border-top: red 2px solid;
        border-bottom: red 2px solid; }
        body #app div #mainpage footer:last-child {
          margin-right: 0; }
        body #app div #mainpage footer nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-left: 4.2649%; }
          body #app div #mainpage footer nav:last-child {
            margin-right: 0; }
          body #app div #mainpage footer nav a {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 14.70196%;
            font-size: 60px;
            padding-top: 15px;
            color: #0B2540; }
            body #app div #mainpage footer nav a:last-child {
              margin-right: 0; }
            body #app div #mainpage footer nav a:hover {
              color: red; }
        body #app div #mainpage footer #copyright {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%;
          margin-left: 6.82384%;
          margin-top: 50px;
          color: #0B2540; }
          body #app div #mainpage footer #copyright:last-child {
            margin-right: 0; }
        body #app div #mainpage footer #downloads {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 27.49666%;
          margin-left: 8.5298%;
          margin-top: 30px; }
          body #app div #mainpage footer #downloads:last-child {
            margin-right: 0; }
          body #app div #mainpage footer #downloads a {
            text-decoration: none;
            color: #0B2540;
            font-size: 20px; }
            body #app div #mainpage footer #downloads a:last-of-type {
              margin-left: 10px; }
            body #app div #mainpage footer #downloads a:hover {
              color: red; }
            body #app div #mainpage footer #downloads a i {
              font-size: 50px; }
      @media (max-width: 768px) and (min-width: 481px) {
        body #app div #mainpage header {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 105px; }
          body #app div #mainpage header:last-child {
            margin-right: 0; }
          body #app div #mainpage header #smallLogo {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 31.76157%;
            margin-left: 3.41192%; }
            body #app div #mainpage header #smallLogo:last-child {
              margin-right: 0; }
            body #app div #mainpage header #smallLogo:nth-child(n) {
              margin-right: 0; }
          body #app div #mainpage header #headerNav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 53.08608%;
            margin-left: 11.08875%;
            margin-top: 25px; }
            body #app div #mainpage header #headerNav:last-child {
              margin-right: 0; }
            body #app div #mainpage header #headerNav:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage header #headerNav a {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 34.32051%;
              margin-left: 63.12055%; }
              body #app div #mainpage header #headerNav a:last-child {
                margin-right: 0; }
              body #app div #mainpage header #headerNav a:nth-child(n) {
                margin-right: 0; }
              body #app div #mainpage header #headerNav a:first-of-type {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 48.82117%;
                margin-left: 51.17883%; }
                body #app div #mainpage header #headerNav a:first-of-type:last-child {
                  margin-right: 0; }
                body #app div #mainpage header #headerNav a:first-of-type:nth-child(n) {
                  margin-right: 0; }
              body #app div #mainpage header #headerNav a span {
                font-size: 16px; }
          body #app div #mainpage header #brief {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 91.4702%;
            margin-left: 8.5298%;
            color: red;
            font-size: 18px; }
            body #app div #mainpage header #brief:last-child {
              margin-right: 0; }
        body #app div #mainpage #heroImg {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 365px;
          background-position: 0 55px;
          background-size: 768px 365px; }
          body #app div #mainpage #heroImg:last-child {
            margin-right: 0; }
        body #app div #mainpage #aboutMe {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          height: 100%; }
          body #app div #mainpage #aboutMe:last-child {
            margin-right: 0; }
          body #app div #mainpage #aboutMe:nth-child(n) {
            margin-right: 0; }
          body #app div #mainpage #aboutMe #headShot {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 36.02647%;
            margin-left: 4.2649%;
            height: 300px;
            margin-top: 70px; }
            body #app div #mainpage #aboutMe #headShot:last-child {
              margin-right: 0; }
          body #app div #mainpage #aboutMe #info {
            height: 185px; }
            body #app div #mainpage #aboutMe #info #resumeTitle {
              margin-top: 10px; }
              body #app div #mainpage #aboutMe #info #resumeTitle span:last-of-type {
                margin-left: 29.00133%; }
            body #app div #mainpage #aboutMe #info #briefResume ul li {
              font-size: 17px; }
        body #app div #mainpage #socialNav nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 70.14568%;
          margin-left: 29.85432%; }
          body #app div #mainpage #socialNav nav:last-child {
            margin-right: 0; }
          body #app div #mainpage #socialNav nav a {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 14.70196%; }
            body #app div #mainpage #socialNav nav a:last-child {
              margin-right: 0; }
        body #app div #mainpage #portfolio {
          height: 1340px; }
          body #app div #mainpage #portfolio #portfolioTitle {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 14.70196%;
            margin-left: 42.64902%; }
            body #app div #mainpage #portfolio #portfolioTitle:last-child {
              margin-right: 0; }
          body #app div #mainpage #portfolio #sectionOne {
            height: 300px; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv {
              margin-top: 75px;
              height: 218px; }
            body #app div #mainpage #portfolio #sectionOne #siteDescription {
              font-size: 20px; }
          body #app div #mainpage #portfolio #sectionTwo {
            height: 300px; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv {
              margin-top: 75px;
              height: 218px; }
            body #app div #mainpage #portfolio #sectionTwo #siteDescription {
              font-size: 20px; }
          body #app div #mainpage #portfolio #sectionThree {
            height: 300px; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv {
              margin-top: 75px;
              height: 218px; }
            body #app div #mainpage #portfolio #sectionThree #siteDescription {
              font-size: 20px; }
          body #app div #mainpage #portfolio #sectionFour {
            height: 300px; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv {
              margin-top: 75px;
              height: 218px; }
            body #app div #mainpage #portfolio #sectionFour #siteDescription {
              font-size: 20px; }
        body #app div #mainpage footer nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%; }
          body #app div #mainpage footer nav:last-child {
            margin-right: 0; }
          body #app div #mainpage footer nav a {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 20.67282%;
            font-size: 45px; }
            body #app div #mainpage footer nav a:last-child {
              margin-right: 0; }
        body #app div #mainpage footer #copyright {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%;
          margin-left: 4.2649%;
          margin-top: 40px;
          color: #0B2540;
          font-size: 12px; }
          body #app div #mainpage footer #copyright:last-child {
            margin-right: 0; }
        body #app div #mainpage footer #downloads {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 33.46753%;
          margin-left: 4.2649%;
          margin-top: 20px; }
          body #app div #mainpage footer #downloads:last-child {
            margin-right: 0; }
          body #app div #mainpage footer #downloads a {
            font-size: 12px; }
            body #app div #mainpage footer #downloads a i {
              font-size: 45px; } }
      @media (max-width: 414px) and (min-width: 376px) {
        body #app div #mainpage header {
          height: 145px; }
          body #app div #mainpage header #smallLogo {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 74.41059%;
            margin-left: 25.58941%;
            height: 60px; }
            body #app div #mainpage header #smallLogo:last-child {
              margin-right: 0; }
          body #app div #mainpage header #headerNav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-left: 0%;
            margin-top: 5px; }
            body #app div #mainpage header #headerNav:last-child {
              margin-right: 0; }
            body #app div #mainpage header #headerNav a {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 65.88078%;
              margin-left: 39.2371%;
              font-size: 14px; }
              body #app div #mainpage header #headerNav a:last-child {
                margin-right: 0; }
              body #app div #mainpage header #headerNav a:first-of-type {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 65.88078%;
                margin-left: 33.26624%; }
                body #app div #mainpage header #headerNav a:first-of-type:last-child {
                  margin-right: 0; }
          body #app div #mainpage header #brief {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 91.4702%;
            margin-left: 4.2649%;
            margin-top: 10px;
            font-size: 12px;
            text-align: center; }
            body #app div #mainpage header #brief:last-child {
              margin-right: 0; }
        body #app div #mainpage #heroImg {
          height: 285px;
          background-size: 100% 285px;
          background-position: 0px 75px; }
        body #app div #mainpage #aboutMe #headShot {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 29.85432%;
          height: 150px;
          margin-top: 35px;
          margin-bottom: 0px; }
          body #app div #mainpage #aboutMe #headShot:last-child {
            margin-right: 0; }
        body #app div #mainpage #aboutMe #info {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 91.4702%;
          margin-left: 4.2649%;
          margin-top: 0px;
          margin-bottom: 10px;
          height: 350px; }
          body #app div #mainpage #aboutMe #info:last-child {
            margin-right: 0; }
          body #app div #mainpage #aboutMe #info #resumeTitle {
            margin-top: 5px;
            font-size: 25px;
            height: 33px; }
            body #app div #mainpage #aboutMe #info #resumeTitle span:last-of-type {
              margin-left: 32.41326%; }
            body #app div #mainpage #aboutMe #info #resumeTitle i {
              font-size: 25px; }
          body #app div #mainpage #aboutMe #info #briefResume {
            margin-bottom: 15px; }
            body #app div #mainpage #aboutMe #info #briefResume ul li {
              font-size: 16px;
              font-weight: lighter; }
        body #app div #mainpage #socialNav {
          height: 70px; }
          body #app div #mainpage #socialNav nav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-left: 0%; }
            body #app div #mainpage #socialNav nav:last-child {
              margin-right: 0; }
            body #app div #mainpage #socialNav nav a {
              font-size: 45px;
              padding-top: 8px; }
              body #app div #mainpage #socialNav nav a:first-of-type {
                margin-left: 20.47153%; }
        body #app div #mainpage #portfolio {
          height: 1800px; }
          body #app div #mainpage #portfolio #portfolioTitle {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 24.08474%;
            margin-left: 38.38412%;
            font-size: 25px;
            height: 30px; }
            body #app div #mainpage #portfolio #portfolioTitle:last-child {
              margin-right: 0; }
          body #app div #mainpage #portfolio #sectionOne {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionOne:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 74.41059%;
              margin-left: 12.79471%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionOne #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionOne #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionOne #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionOne #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionTwo {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionTwo:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 74.41059%;
              margin-left: 12.79471%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionTwo #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionTwo #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionTwo #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionTwo #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionThree {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionThree:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 74.41059%;
              margin-left: 12.79471%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionThree #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionThree #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionThree #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionThree #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionFour {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionFour:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 74.41059%;
              margin-left: 12.79471%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionFour #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionFour #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionFour #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionFour #siteDescription:nth-child(n) {
                margin-right: 0; }
        body #app div #mainpage footer {
          height: 175px; }
          body #app div #mainpage footer nav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 95.7351%; }
            body #app div #mainpage footer nav:last-child {
              margin-right: 0; }
            body #app div #mainpage footer nav:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage footer nav a {
              font-size: 45px; }
              body #app div #mainpage footer nav a:first-of-type {
                margin-left: 17.05961%; }
          body #app div #mainpage footer #copyright {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 57.35098%;
            margin-left: 36.67816%;
            margin-top: 20px;
            color: #0B2540;
            font-size: 12px; }
            body #app div #mainpage footer #copyright:last-child {
              margin-right: 0; }
          body #app div #mainpage footer #downloads {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 95.7351%;
            margin-left: 0%;
            margin-top: 20px; }
            body #app div #mainpage footer #downloads:last-child {
              margin-right: 0; }
            body #app div #mainpage footer #downloads a {
              font-size: 15px; }
              body #app div #mainpage footer #downloads a:first-of-type {
                margin-left: 15.35365%; }
              body #app div #mainpage footer #downloads a i {
                font-size: 45px; } }
      @media (max-width: 375px) and (min-width: 300px) {
        body #app div #mainpage header {
          height: 145px; }
          body #app div #mainpage header #smallLogo {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 65.88078%;
            margin-left: 22.17749%;
            height: 60px; }
            body #app div #mainpage header #smallLogo:last-child {
              margin-right: 0; }
          body #app div #mainpage header #headerNav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-left: 0%;
            margin-top: 5px; }
            body #app div #mainpage header #headerNav:last-child {
              margin-right: 0; }
            body #app div #mainpage header #headerNav a {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 65.88078%;
              margin-left: 37.53114%;
              font-size: 14px; }
              body #app div #mainpage header #headerNav a:last-child {
                margin-right: 0; }
              body #app div #mainpage header #headerNav a:first-of-type {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 65.88078%;
                margin-left: 31.56028%; }
                body #app div #mainpage header #headerNav a:first-of-type:last-child {
                  margin-right: 0; }
          body #app div #mainpage header #brief {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 91.4702%;
            margin-left: 4.2649%;
            margin-top: 10px;
            font-size: 12px;
            text-align: center; }
            body #app div #mainpage header #brief:last-child {
              margin-right: 0; }
        body #app div #mainpage #heroImg {
          height: 270px;
          background-size: 100% 285px;
          background-position: 0px 68px; }
        body #app div #mainpage #aboutMe #headShot {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 29.85432%;
          height: 150px;
          margin-top: 35px;
          margin-bottom: 0px; }
          body #app div #mainpage #aboutMe #headShot:last-child {
            margin-right: 0; }
        body #app div #mainpage #aboutMe #info {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 91.4702%;
          margin-left: 4.2649%;
          margin-top: 0px;
          margin-bottom: 10px;
          height: 350px; }
          body #app div #mainpage #aboutMe #info:last-child {
            margin-right: 0; }
          body #app div #mainpage #aboutMe #info #resumeTitle {
            margin-top: 5px;
            font-size: 25px;
            height: 33px; }
            body #app div #mainpage #aboutMe #info #resumeTitle span:last-of-type {
              margin-left: 32.41326%; }
            body #app div #mainpage #aboutMe #info #resumeTitle i {
              font-size: 25px; }
          body #app div #mainpage #aboutMe #info #briefResume ul li {
            font-size: 16px;
            font-weight: lighter; }
        body #app div #mainpage #socialNav {
          height: 70px; }
          body #app div #mainpage #socialNav nav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-left: 0%; }
            body #app div #mainpage #socialNav nav:last-child {
              margin-right: 0; }
            body #app div #mainpage #socialNav nav a {
              font-size: 45px;
              padding-top: 8px; }
              body #app div #mainpage #socialNav nav a:first-of-type {
                margin-left: 20.47153%; }
        body #app div #mainpage #portfolio {
          height: 1800px; }
          body #app div #mainpage #portfolio #portfolioTitle {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 24.93772%;
            margin-left: 38.38412%;
            font-size: 25px;
            height: 30px; }
            body #app div #mainpage #portfolio #portfolioTitle:last-child {
              margin-right: 0; }
          body #app div #mainpage #portfolio #sectionOne {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionOne:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionOne #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionOne #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionOne #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionOne #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionOne #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionTwo {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionTwo:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionTwo #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionTwo #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionTwo #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionTwo #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionTwo #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionThree {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionThree:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionThree #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionThree #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionThree #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionThree #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionThree #siteDescription:nth-child(n) {
                margin-right: 0; }
          body #app div #mainpage #portfolio #sectionFour {
            height: 420px; }
            body #app div #mainpage #portfolio #sectionFour:nth-child(n) {
              margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #innerDiv {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionFour #innerDiv:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionFour #innerDiv:nth-child(n) {
                margin-right: 0; }
            body #app div #mainpage #portfolio #sectionFour #siteDescription {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 82.94039%;
              margin-left: 8.5298%;
              text-align: center;
              text-align: justify;
              font-size: 16px;
              padding-top: 30px;
              height: 200px; }
              body #app div #mainpage #portfolio #sectionFour #siteDescription:last-child {
                margin-right: 0; }
              body #app div #mainpage #portfolio #sectionFour #siteDescription:nth-child(n) {
                margin-right: 0; }
        body #app div #mainpage footer {
          height: 175px; }
          body #app div #mainpage footer nav {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 91.4702%; }
            body #app div #mainpage footer nav:last-child {
              margin-right: 0; }
            body #app div #mainpage footer nav a {
              font-size: 45px; }
              body #app div #mainpage footer nav a:first-of-type {
                margin-left: 19.61855%; }
          body #app div #mainpage footer #copyright {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 57.35098%;
            margin-left: 35.82518%;
            margin-top: 15px;
            color: #0B2540;
            font-size: 12px; }
            body #app div #mainpage footer #copyright:last-child {
              margin-right: 0; }
          body #app div #mainpage footer #downloads {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            margin-left: 0%;
            margin-top: 15px; }
            body #app div #mainpage footer #downloads:last-child {
              margin-right: 0; }
            body #app div #mainpage footer #downloads a {
              font-size: 15px; }
              body #app div #mainpage footer #downloads a:first-of-type {
                margin-left: 11.08875%; }
              body #app div #mainpage footer #downloads a i {
                font-size: 45px; } }
      body #app div #resumepage header {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 110px;
        background: #0B2540;
        border-bottom: red 2px solid;
        position: fixed;
        top: 0px;
        margin: auto;
        z-index: 100000; }
        body #app div #resumepage header:last-child {
          margin-right: 0; }
        body #app div #resumepage header #smallLogo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%;
          margin-left: 8.5298%;
          background: #0B2540 url("../img/nameLogo.svg") no-repeat 0px 0px;
          height: 78px; }
          body #app div #resumepage header #smallLogo:last-child {
            margin-right: 0; }
        body #app div #resumepage header #headerNav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          margin-left: 17.05961%;
          margin-top: 30px; }
          body #app div #resumepage header #headerNav:last-child {
            margin-right: 0; }
          body #app div #resumepage header #headerNav a {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            margin: 0; }
            body #app div #resumepage header #headerNav a:first-of-type {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 36.87945%;
              margin-left: 34.11922%; }
              body #app div #resumepage header #headerNav a:first-of-type:last-child {
                margin-right: 0; }
            body #app div #resumepage header #headerNav a i {
              margin-right: 5px; }
            body #app div #resumepage header #headerNav a:hover {
              color: red; }
        body #app div #resumepage header #brief {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 10.23577%;
          color: red;
          font-weight: lighter;
          font-size: 22px; }
          body #app div #resumepage header #brief:last-child {
            margin-right: 0; }
          body #app div #resumepage header #brief:nth-child(n) {
            margin-right: 0; }
      body #app div #resumepage #downloadSpan {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-left: 17.05961%;
        margin-top: 120px;
        color: #fff; }
        body #app div #resumepage #downloadSpan:last-child {
          margin-right: 0; }
      body #app div #resumepage #resumeImg {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%;
        margin-top: 5px;
        margin-bottom: 50px;
        height: 1100px;
        background: #0B2540 url("../img/resumePNG.png") no-repeat 0px 0px;
        background-size: 100% 100%; }
        body #app div #resumepage #resumeImg:last-child {
          margin-right: 0; }
        body #app div #resumepage #resumeImg:hover {
          border: red 4px solid; }
      body #app div #resumepage footer {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 100px;
        background: #fff;
        border-top: red 2px solid;
        border-bottom: red 2px solid; }
        body #app div #resumepage footer:last-child {
          margin-right: 0; }
        body #app div #resumepage footer nav {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-left: 4.2649%; }
          body #app div #resumepage footer nav:last-child {
            margin-right: 0; }
          body #app div #resumepage footer nav a {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 14.70196%;
            font-size: 60px;
            padding-top: 15px;
            color: #0B2540; }
            body #app div #resumepage footer nav a:last-child {
              margin-right: 0; }
            body #app div #resumepage footer nav a:hover {
              color: red; }
        body #app div #resumepage footer #copyright {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 14.70196%;
          margin-left: 6.82384%;
          margin-top: 50px;
          color: #0B2540; }
          body #app div #resumepage footer #copyright:last-child {
            margin-right: 0; }
        body #app div #resumepage footer #downloads {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 27.49666%;
          margin-left: 8.5298%;
          margin-top: 30px; }
          body #app div #resumepage footer #downloads:last-child {
            margin-right: 0; }
          body #app div #resumepage footer #downloads a {
            text-decoration: none;
            color: #0B2540;
            font-size: 20px; }
            body #app div #resumepage footer #downloads a:last-of-type {
              margin-left: 10px; }
            body #app div #resumepage footer #downloads a:hover {
              color: red; }
            body #app div #resumepage footer #downloads a i {
              font-size: 50px; }
