@import 'variables';

#contactpage{
  .contact-container{
    @include span-columns(12);
    padding: 75px 0 50px 0;
    position: absolute;
    top: 65px;
    z-index: 1;

    .h1{
      @include span-columns(12);
      font-size: 36px;
      text-transform: uppercase;
    }

    hr{
      @include span-columns(12);
      margin-top: 0px;
    }

    .contact-info{
      @include span-columns(6);
      @include shift(3);
      background: $orange;
      color: $white;
      padding: 30px 20px 30px 20px;
      border-radius: 3px;
      animation-duration: 2.0s;
      box-shadow: 3px 3px 3px 3px #BABABA;

      a{
        @include span-columns(6);
        font-size: 24px;
        text-decoration: none;
        text-align: center;

        &:hover{
          color: $link-color;
        }

        i{
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }

    .social-info{
      @include span-columns(6);
      @include shift(3);
      background: $blue;
      color: $white;
      padding: 30px 20px 30px 20px;
      border-radius: 3px;
      margin-top: 20px;
      animation-duration: 2.0s;
      box-shadow: 3px 3px 3px 3px #BABABA;

      a{
        @include span-columns(3);
        text-align: center;

        &:hover{
          color: $link-color;
        }

        i{
          font-size: 36px;
        }
      }
    }

    footer{
      @include span-columns(12);
      position: fixed;
      bottom: 0;
      padding: 5px 0 5px 0;
      background: linear-gradient(to right, $white, $teal);

      span{
        @include span-columns(6);
        font-size: 20px;
        padding-left: 25px;
        padding-top: 15px;
        color: $link-color;
      }

      nav{
        @include span-columns(6);

        a{
          @include span-columns(2);
          text-align: center;
          font-size: 36px;
          color: $link-color;

          &:hover{
            color: $link-hover-color;
          }

          &:first-of-type{
            @include shift(2);
          }
        }
      }
    }
  }
}
