@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
  // $visual-grid: true;
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";


* {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

#app{
  @include outer-container(100%);
  background-image: url("../img/mountain.svg");
  background-size: cover;
  height: 100vh;

  header{
    @include span-columns(12);
    padding: 10px 0 10px 0;
    background: #fff;

    a{
      @include span-columns(6);
      text-decoration: none;
      color: black;

      .logo{
        @include shift(1);
        background-image: url("../img/Jaselogo_2.png");
        background-size: cover;
        width: 50px;
        height: 50px;
      }
    }

    .nav{
      @include span-columns(6);

      // a{
      //   @include span-columns(2);
      //   @include shift(10);
      //   font-size: 30px;
      //   // display: block;
      //
      //   &:hover{
      //     color: #7DD4B6;
      //   }
      // }

    #slideout-nav{
      @include span-columns(12);
        padding: 0;
        // display: none;

        a{
          @include span-columns(2);
        }
      }
    }
  }
}

#mainpage{
  @include span-columns(12);

  .landing-content{
    @include span-columns(12);

    .name-container{
      @include span-columns(6);
      text-align: center;
      position: relative;
      top: 100px;

      h1{
        font-size: 118px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 200;
      }

      h2{
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .nav{
    @include span-columns(12);
    background: linear-gradient(to right, #fff, #7DD4B6);
    opacity: .75;
    position: absolute;
    bottom: 0;

    ul{
      @include span-columns(12);
      padding: 0;

      a{
        @include span-columns(2.4);
        text-align: center;
        font-size: 26px;
        font-weight: 200;
        color: black;
        text-decoration: none;

        &:hover{
          color: #1F66BA;
        }
      }
    }
  }
}

#aboutpage{
  @include span-columns(12);

  .about-container{
    @include span-columns(12);
    background: #fff;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 94vh;
    border-radius: 5px;

    .column{
      @include span-columns(6);
    }

    .headshot{
      @include shift(3.25);
      background-image: url("../img/new_headshot.jpg");
      background-size: cover;
      width: 350px;
      height: 475px;
      border-radius: 3px;
      opacity: none;
    }

    p{
      @include span-columns(10);
      font-size: 20px;
      margin: 0 0 30px 0;
    }
  }
}

#resumepage{
  .resume-container{
    @include span-columns(12);
    background: #fff;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 90vh;
    border-radius: 5px;
  }
}

#contactpage{
  .contact-container{
    @include span-columns(12);
    background: #fff;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 90vh;
    border-radius: 5px;
  }
}

#portfoliopage{
  .portfolio-container{
    @include span-columns(12);
    background: #fff;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 90vh;
    border-radius: 5px;
  }
}
