@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
  // $visual-grid: true;
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";
@import 'variables';
@import 'home';
@import 'about';
@import 'portfolio';
@import 'resume';
@import 'contact';



* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

#app{
  @include outer-container(100%);

  .background-image{
    @include span-columns(12);
    background-image: url("../img/mountain.svg");
    background-size: cover;
    height: 100vh;
    position: fixed;
    z-index: -10000;
    animation-duration: 3.25s;
  }

  .background-filter{
    @include span-columns(12);
    background: $white;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 100vh;
    border-radius: 5px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  header{
    @include span-columns(12);
    padding: 5px 0 5px 0;
    background: linear-gradient(to right, $white, $teal);
    position: fixed;
    top: 0;
    z-index: 2;

    a{
      @include span-columns(6);
      text-decoration: none;
      color: $link-color;

      .logo{
        @include shift(.75);
        background-image: url("../img/Jaselogo_2.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        margin-top: 5px;
      }
    }

    .nav{
      @include span-columns(6);

      #slideout-nav{
        @include span-columns(12);
        padding: 0;
        animation-duration: 1.25s;

        a{
          @include span-columns(2);
          font-size: 20px;
          color: $link-color;

          &:hover{
            color: $link-hover-color;
          }

          &:first-of-type{
            @include shift(2);
          }
        }
      }
    }
  }
}
