@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
  // $visual-grid: true;
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";


* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: lighter;
}

body{
  height: 100%;
  @include outer-container(100%);
  background: #0B2540;


  #app{
    height: 100%;
    @include span-columns(12);
    @include omega(n);

    div{
      @include span-columns(12);
      @include omega(n);

    #homepage{
      @include span-columns(12);
      background: #0B2540;

        #logo{
          @include span-columns(9.2);
          @include shift(1.5);
          height: 336px;
          background: #0B2540 url('../img/nameLogo.svg') no-repeat 0px 0px;
          margin-top: 30px;
          }

        #jobTitle{
          @include span-columns(6);
          @include shift(3.61);
          color: #fff;
          font-size: 50px;
          font-weight: lighter;
        }

        #contactNav{
          @include span-columns(12);

          a{
            @include span-columns(6);
            @include shift(4.7);
            text-decoration: none;
            color: #fff;
            height: 25px;
            margin-top: 15px;
            font-size: 30px;
            margin-right: 0;

            &:last-of-type{
              @include shift(5.1);
              margin-top: 20px;
            }

            &:hover{
              color: red;
            }

            i{
              margin-right: 10px;
              font-size: 30px;
            }
          }
        }

        #enterBtn{
          @include span-columns(2);
          @include shift(5.1);
          margin-top: 70px;
          padding-left: 4.5%;
          padding-top: 8px;
          text-decoration: none;
          font-size: 35px;
          height: 60px;
          color: #fff;
          border: #fff 2px solid;
          border-radius: 3px;

          &:hover{
            color: red;
            border: red 2px solid;
          }
        }

        @media (max-width: 768px) and (min-width: 481px) {
          #logo{
            @include shift(1.4);
            margin-top: 100px;
            height: 215px;
          }

          #jobTitle{
            @include span-columns(10);
            @include shift(1.4);
          }

          #contactNav{
            a{
              @include shift(3.5);

              &:last-of-type{
                @include shift(4.3);
              }
            }
          }

          #enterBtn{
            @include span-columns(2.5);
            @include shift(4.8);
            padding-left: 29px;
          }
        }

        @media (max-width: 414px) and (min-width: 376px) {
          #logo{
            height: 110px;
          }

          #jobTitle{
            @include span-columns(11);
            @include shift(.9);
            @include omega(n);
            font-size: 30px;
          }

          #contactNav{
            a{
              @include span-columns(8);
              @include shift(3);
              font-size: 20px;
              margin-top: 10px;

              &:last-of-type{
                @include shift(4);
                margin-top: 10px;
              }

              i{
                font-size: 20px;
              }
            }
          }

          #enterBtn{
            @include span-columns(4);
            @include shift(4.2);
            padding-left: 34px;
            padding-top: 5px;
            font-size: 25px;
            margin-top: 40px;
            height: 43px;
          }
        }

        @media (max-width: 375px) and (min-width: 300px) {
          #logo{
            height: 110px;
          }

          #jobTitle{
            @include span-columns(11.5);
            @include shift(.4);
            @include omega(n);
            font-size: 30px;
          }

          #contactNav{
            a{
              @include span-columns(8);
              @include shift(2.8);
              font-size: 20px;
              margin-top: 10px;

              &:last-of-type{
                @include shift(3.8);
                margin-top: 10px;
              }

              i{
                font-size: 20px;
              }
            }
          }

          #enterBtn{
            @include span-columns(4);
            @include shift(4.2);
            padding-left: 29px;
            padding-top: 5px;
            font-size: 25px;
            margin-top: 40px;
            height: 43px;
          }
        }
      }

      #mainpage{
        // background: #fff;

        header{
          @include span-columns(12);
          height: 100px;
          background: #0B2540;
          border-bottom: red 2px solid;
          position:fixed;
          top:0px;
          margin:auto;
          z-index:100000;

          #smallLogo{
            @include span-columns(3);
            @include shift(1);
            background: #0B2540 url('../img/nameLogo.svg') no-repeat 0px 0px;
            height: 78px;
          }

          #headerNav{
            @include span-columns(5);
            @include shift(2);
            margin-top: 30px;

            a{
              text-decoration: none;
              font-size: 20px;
              color: #fff;
              margin: 0;

              &:first-of-type{
                @include span-columns(4.6);
                @include shift(4);
              }

              i{
                margin-right: 5px;
              }

              &:hover{
                color: red;
              }
            }
          }

          #brief{
            @include span-columns(8);
            @include shift(1.2);
            @include omega(n);
            color: red;
            font-weight: lighter;
            font-size: 15px;
          }
        }

          #heroImg{
            @include span-columns(12);
            @include omega(n);
            background: #fff url('../img/landscape_3.svg') no-repeat fixed 0px 110px;
            background-size: 100% 425px;
            height: 500px;
          }

          #aboutMe{

            #headShot{
              @include span-columns(3.5);
              @include shift(1);
              margin-top: 50px;
              margin-bottom: 50px;
              height: 400px;
              border-radius: 50%;
              background: #fff url('../img/headshot.jpg') no-repeat 0px 0px;
              background-size: 100% 100%;
              border: red 2px solid;

            }

            #info{
              @include span-columns(6.2);
              @include shift(.3);
              margin-top: 50px;
              margin-bottom: 200px;
              height: 275px;
              border-radius: 5px;
              background-size: 475px ;
              color: #fff;
              font-size: 17.5px;

              #resumeTitle{
                @include span-columns(12);
                font-size: 30px;
                margin-top: 100px;
                height: 40px;
                border-bottom: red 2px solid;

                span{

                  &:last-of-type{
                    @include shift(7.1);
                    font-size: 12px;
                    margin-right: 10px;
                  }
                }

                a{
                  text-decoration: none;
                  color: #fff;
                  padding-top: 2px;
                  font-size: 30px;

                  &:hover{
                    color: red;
                  }
                }
              }

              #briefResume{
                @include span-columns(12);
                ul{
                  li{
                    font-size: 20px;
                    margin-top: 20px;
                  }
                }
              }
            }
          }

          #socialNav{
            @include span-columns(12);
            height: 100px;
            background: #fff;
            border-top: red 2px solid;
            border-bottom: red 2px solid;

            nav{
              @include span-columns(6);
              @include shift(4.2);

              a{
                @include span-columns(2);
                font-size: 60px;
                padding-top: 15px;
                color: #0B2540;

                &:hover{
                  color: red;
                }
              }
            }
          }

          #portfolio{
            @include span-columns(12);
            height: 1700px;

            #portfolioTitle{
              @include span-columns(1.2);
              @include shift(5.5);
              font-size: 30px;
              margin-top: 40px;
              padding-left: 2px;
              height: 40px;
              color: #fff;
              border-bottom: red 2px solid;
            }

            #sectionOne{
              @include span-columns(12);
              height: 400px;

              // #outerDiv{
              //   @include span-columns(3.5);
              //   @include shift(1);
              //   height: 350px;
              //   border: red 2px solid;
              //   border-radius: 50%;
              //   margin-top: 25px;

                #innerDiv{
                  @include span-columns(4);
                  @include shift(1);
                  @include omega(n);
                  background: #0B2540 url('../img/goals_screen.png') no-repeat 0px 0px;
                  background-size: 100% 100%;
                  border: red 2px solid;
                  height: 315px;
                  margin-top: 40px;
                }
              // }

              #siteDescription{
                @include span-columns(6);
                @include shift(.8);
                height: 350px;
                color: #fff;
                padding-top: 100px;
                font-size: 25px;
              }
            }
          }

          footer{
            @include span-columns(12);
            height: 100px;
            background: #fff;
            border-top: red 2px solid;
            border-bottom: red 2px solid;

            nav{
              @include span-columns(4);
              @include shift(.5);

              a{
                @include span-columns(2);
                font-size: 60px;
                padding-top: 15px;
                color: #0B2540;

                &:hover{
                  color: red;
                }
              }
            }

            #copyright{
              @include span-columns(2);
              @include shift(.8);
              margin-top: 50px;
              color: #0B2540;
            }

            #downloads{
              @include span-columns(3.5);
              @include shift(1);
              margin-top: 30px;

              a{
                text-decoration: none;
                color: #0B2540;
                font-size: 20px;

                &:last-of-type{
                  margin-left: 10px;
                }

                &:hover{
                  color: red;
                }

                i{
                  font-size: 50px;
                }
              }
            }
          }

          @media (max-width: 768px) and (min-width: 481px) {

            header{
              @include span-columns(12);
              height: 100px;

              #smallLogo{
                @include span-columns(4);
                @include shift(.4);
                @include omega(n);
              }

              #headerNav{
                @include span-columns(6.5);
                @include shift(1.3);
                @include omega(n);
                margin-top: 25px;

                a{
                  @include span-columns(4.3);
                  @include shift(7.4);
                  @include omega(n);

                  &:first-of-type{
                    @include span-columns(6);
                    @include shift(6);
                    @include omega(n);
                  }

                  span{

                    font-size: 16px;
                  }
                }
              }

              #brief{
                @include span-columns(10);
                @include shift(1.2);
                color: red;
              }
            }

            #heroImg{
              @include span-columns(12);
              height: 365px;
              background-position: 0 55px;
              background-size: 768px 365px;
            }

            #aboutMe{
              @include span-columns(12);
              @include omega(n);
              height: 100%;

              #headShot{
                @include span-columns(4.5);
                @include shift(.5);
                height: 300px;
                margin-top: 70px;
              }

              #info{
                height: 185px;

                #resumeTitle{
                  margin-top: 10px;

                  span{
                    &:last-of-type{
                      @include shift(3.4);
                    }
                  }
                }

                #briefResume{
                  ul{
                    li{
                      font-size: 17px;
                    }
                  }
                }
              }
            }

            #socialNav{
              nav{
                @include span-columns(8.5);
                @include shift(3.5);

                a{
                  @include span-columns(2);
                }
              }
            }

            #portfolio{
              height: 1340px;

              #portfolioTitle{
                @include span-columns(2);
                @include shift(5);
              }

              #sectionOne{
                height: 300px;

                  #innerDiv{
                    margin-top: 75px;
                    height: 218px;
                  }

                #siteDescription{
                  font-size: 20px;
                }
              }
            }

            footer{
              nav{
                @include span-columns(4);

                a{
                  @include span-columns(2.7);
                  font-size: 45px;
                }
              }

              #copyright{
                @include span-columns(2);
                @include shift(.5);
                margin-top: 40px;
                color: #0B2540;
                font-size: 12px;
              }

              #downloads{
                @include span-columns(4.2);
                @include shift(.5);
                margin-top: 20px;

                a{
                  font-size: 12px;

                  i{
                    font-size: 45px;
                  }
                }
              }
            }
          }

          @media (max-width: 414px) and (min-width: 376px){
            header{
              height: 145px;

              #smallLogo{
                @include span-columns(9);
                @include shift(3);
                height: 60px;
              }

              #headerNav{
                @include span-columns(12);
                @include shift(0);
                margin-top: 5px;

                a{
                  @include span-columns(8);
                  @include shift(4.6);
                  font-size: 14px;

                  &:first-of-type{
                    @include span-columns(8);
                    @include shift(3.9);
                  }
                }
              }

              #brief{
                @include span-columns(11);
                @include shift(.5);
                margin-top: 10px;
                font-size: 12px;
                text-align: center;
              }
            }

            #heroImg{
              height: 285px;
              background-size: 100% 285px;
              background-position: 0px 75px;
            }

            #aboutMe{
              #headShot{
                @include span-columns(5);
                @include shift(3.5);
                height: 150px;
                margin-top: 35px;
                margin-bottom: 0px;
              }

              #info{
                @include span-columns(11);
                @include shift(.5);
                margin-top: 0px;
                margin-bottom: 10px;
                height: 350px;

                #resumeTitle{
                  margin-top: 5px;
                  font-size: 25px;
                  height: 33px;

                  span{

                    &:last-of-type{
                      @include shift(3.8);
                    }
                  }

                  i{
                    font-size: 25px;
                  }
                }

                #briefResume{
                  ul{
                    li{
                      font-size: 16px;
                      font-weight: lighter;
                    }
                  }
                }
              }
            }

            #socialNav{
              height: 70px;

              nav{
                @include span-columns(12);
                @include shift(0);

                a{
                  font-size: 45px;
                  padding-top: 8px;

                  &:first-of-type{
                    @include shift(2.4);
                  }
                }
              }
            }

            #portfolio{
              height: 1800px;

              #portfolioTitle{
                @include span-columns(3.1);
                @include shift(4.5);
                font-size: 25px;
                height: 30px;
              }

              #sectionOne{
                @include omega(n);
                height: 420px;

                #innerDiv{
                  @include span-columns(9);
                  @include shift(1.5);
                  @include omega(n);
                  height: 200px;
                }

                #siteDescription{
                  @include span-columns(10);
                  @include shift(1);
                  @include omega(n);
                  text-align: center;
                  font-size: 16px;
                  padding-top: 30px;
                  height: 200px;
                }
              }
            }

            footer{
              height: 175px;

              nav{
                @include span-columns(11.5);
                @include omega(n);

                a{
                  font-size: 45px;

                  &:first-of-type{
                    @include shift(2);
                  }
                }
              }

              #copyright{
                @include span-columns(7);
                @include shift(4.3);
                margin-top: 20px;
                color: #0B2540;
                font-size: 12px;
              }

              #downloads{
                @include span-columns(11.5);
                @include shift(0);
                margin-top: 20px;

                a{
                  font-size: 15px;

                  &:first-of-type{
                    @include shift(1.8);
                  }

                  i{
                    font-size: 45px;
                  }
                }
              }
            }
          }

          @media (max-width: 375px) and (min-width: 300px) {
            header{
              height: 145px;

              #smallLogo{
                @include span-columns(8);
                @include shift(2.6);
                height: 60px;
              }

              #headerNav{
                @include span-columns(12);
                @include shift(0);
                margin-top: 5px;

                a{
                  @include span-columns(8);
                  @include shift(4.4);
                  font-size: 14px;

                  &:first-of-type{
                    @include span-columns(8);
                    @include shift(3.7);
                  }
                }
              }

              #brief{
                @include span-columns(11);
                @include shift(.5);
                margin-top: 10px;
                font-size: 12px;
                text-align: center;
              }
            }

            #heroImg{
              height: 270px;
              background-size: 100% 285px;
              background-position: 0px 68px;
            }

            #aboutMe{
              #headShot{
                @include span-columns(5);
                @include shift(3.5);
                height: 150px;
                margin-top: 35px;
                margin-bottom: 0px;
              }

              #info{
                @include span-columns(11);
                @include shift(.5);
                margin-top: 0px;
                margin-bottom: 10px;
                height: 350px;

                #resumeTitle{
                  margin-top: 5px;
                  font-size: 25px;
                  height: 33px;

                  span{

                    &:last-of-type{
                      @include shift(3.8);
                    }
                  }

                  i{
                    font-size: 25px;
                  }
                }

                #briefResume{
                  ul{
                    li{
                      font-size: 16px;
                      font-weight: lighter;
                    }
                  }
                }
              }
            }

            #socialNav{
              height: 70px;

              nav{
                @include span-columns(12);
                @include shift(0);

                a{
                  font-size: 45px;
                  padding-top: 8px;

                  &:first-of-type{
                    @include shift(2.4);
                  }
                }
              }
            }

            #portfolio{
              height: 1800px;

              #portfolioTitle{
                @include span-columns(3.2);
                @include shift(4.5);
                font-size: 25px;
                height: 30px;
              }

              #sectionOne{
                @include omega(n);
                height: 420px;

                #innerDiv{
                  @include span-columns(10);
                  @include omega(n);
                  height: 200px;
                }

                #siteDescription{
                  @include span-columns(10);
                  @include shift(1);
                  @include omega(n);
                  text-align: center;
                  font-size: 16px;
                  padding-top: 30px;
                  height: 200px;
                }
              }
            }

            footer{
              height: 175px;

              nav{
                @include span-columns(11);

                a{
                  font-size: 45px;

                  &:first-of-type{
                    @include shift(2.3);
                  }
                }
              }

              #copyright{
                @include span-columns(7);
                @include shift(4.2);
                margin-top: 15px;
                color: #0B2540;
                font-size: 12px;
              }

              #downloads{
                @include span-columns(12);
                @include shift(0);
                margin-top: 15px;

                a{
                  font-size: 15px;

                  &:first-of-type{
                    @include shift(1.3);
                  }

                  i{
                    font-size: 45px;
                  }
                }
              }
            }
          }
      }
    }
  }
}
